.total{
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
    margin-top: 10px;

}

.shopping-cart button{

}

.btn-buy{
    margin-left: 8px;

}

.error-message{
    color: red;
}