
.order{
    display:flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 0;
}

.btn-submit-order{
    margin-top: 8px;
    margin-bottom: 18px;
    width: 200px;
    margin-left: -7px;
}

.order.col-75{
    padding-left: 0 !important;
}

.order label:not(:first-of-type){
    margin-top: 10px;
}