.book-list-item{
    display: flex;
    margin: 15px 0;
}

.book-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
}

.book-cover{
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
}

.book-cover img {
    max-width: 100%;
}

.book-title{
    font-size: 1.4rem;
}

.book-price{
    font-size: 1.3rem;
}