.shop-header{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5rem;
}

.shopping-cart{
    align-self: center;
    font-size: 1.3rem;
}

.fa-cart-arrow-down{
    font-size: 1.5rem;
    color: black;
    margin-right: 2px;
}

a{
    text-decoration: none;
}

@media all and (max-width:362px){
    .logo{
        font-size: 1.5rem;
    }

    .btn-logout{
        font-size: 0.8rem;
        padding: 0.135rem 0.55rem;
    }

    .shopping-cart{
        font-size: 1rem;
    }
}
@media all and (max-width:305px){
    .logo{
        font-size: 1rem;
    }

    .shopping-cart{
        font-size: 0.8rem;
    }
    .fa-cart-arrow-down{
        font-size: 1rem;
    }
    .btn-logout{
        font-size: 0.6rem;
        padding: 0.075rem 0.55rem;
    }
    .total{
        font-size: 1rem;
    }
    .btn-buy{
        padding: 0.115rem 0.5rem;

    }
}


@media all and (max-width:271px){
    .shopping-cart{
        font-size: 0.5rem;
    }
}